body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFC0CB;
    color: black;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    justify-content: center ;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-decoration: none;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-decoration: none;
}

.product img {
    width: 100%;
}

.price {
    font-weight: bold;
    color: #333;
}

button {
    background-color: pink;
    color: pink ;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
}

footer {
    background-color: #DDA0DD;
    color: #DDA0DD;
    text-align: center;
    padding: 20px;
    margin-top: auto;;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFC0CB;
    color: black;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-decoration: none;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    text-decoration: none;
    list-style-type: none;

}

.product img {
    width: 100%;
}

.price {
    font-weight: bold;
    color: #333;

}

.container button li a {
    background-color: pink ;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;  
}

footer {
    background-color: #FFC0CB;
    color: black;
    text-align: center;
    padding: 20px;
}

.titulo button  {
    margin: 0px;
    background-color: white;
    border-radius: 10px;    
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 0px 20px;    
    
}
.titulo ul li a {
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}
.titulo  button li a {
    background-color: white ;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none; 
    padding: 0px;
    margin: 0px;

}
.titulo  a {
    color: black;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.titulo li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    justify-content: center ;
    align-items: center;
    display: flex;
}
.apresentação h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}